<!-- hello/templates/hello/index.html -->
<!DOCTYPE html>
<html>
    <body>
        <h2>WELCOME TO THE AIR MESSUREMENT</h2>

        <h3>Here you can messure the air quality indoors</h3>
        <p>To begin, please login or create a use </p>

        <h3>Contact info</h3>
        <p id="contact" >Click to get contact.</p>

        <button type="button" onclick="onContactClick()">Get contact</button>

        <h3>Register</h3>
        <p id="register" >Click to register.</p>

        <p>
          <button type="button" onclick="onRegisterClick();">Register</button>
        </p>

        <h3>Login</h3>
        <p id="login" >Click to login to your account.</p>

        <p>
          <button type="button" onclick="onLoginClick();">Log in</button>
        </p>

        <h3>Version</h3>
        <p id="getVersionId">Click to get the version</p>

        <p><button type="button" onclick="onGetVersionClick();">Get version</button>

        </p>

        <script>
            {% include "homepage_page/index.js" %}
        </script>

    </body>
</html>
